{% extends "base.html" %}

{% block title %}Articles f0r {{ article.pub_date|date:"Y" }}.{{ article.pub_date|date:"m" }}, No. {{ article.id }}{% endblock %}

{% block content %}
<h1>Articles for {{ article.pub_date|date:"Y" }} . {{ article.pub_date|date:"m" }}, No. {{article.id}}</h1>
    <p>{{ article.headline }}</p>
    <hr>
    <p>{{ article.content }}</p>
    <p>By {{ article.reporter.full_name }}</p>
    <p>Published {{ article.pub_date|date:"F j, Y" }}</p>
    <p>Id {{article.id}}</p>
{% endblock %}